Hello {{username}},<br>
someone requested to reset your password.<br>
If it was you, please follow this link to finish the process:<br>
<a href="{{url}}">{{url}}</a><br>
The link is valid for 30 minutes.<br>
Otherwise kindly ignore this email, please.
