<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
  </head>
  <body>
    <header>
      <span class="ditup-name">ditup</span>
    </header>

    <section class="content">
      {{> (html-partial type) params}}
    </section>

    <footer>
      <div>Please inform us if this message bothers you. We'll offer some settings in the future.</div>
      <div><a href="https://ditup.org" target="_blank">ditup.org</a><br>
        do it together, start it up<br>
        online platform for real world collaboration
      </div>
    </footer>
  </body>
</html>

