@import "colors";

header {
  all: initial;
  display: block;
  font-size: 1.5em;
  color: $contrast_color;
  border-bottom: 3px solid $main_color;
  margin: 0.5em 0;
  padding-left: 0.8em;
}

.content {
  padding: 1em;

  .action-button {
    padding: 0.5em;
    display: inline-block;
    color: white;
    background-color: $main_color;
    border-radius: 0.2em;
    margin: 1em 0;
    text-decoration: none;
  }

  .copy-field {
    width: 100%;
  }
}

footer {
  color: gray;
  border-top: 3px solid $main_color;
  text-align: center;
  font-size: smaller;

  a {
    color: gray;
  }
}
